//fonts
@include font("Press Start", "./PressStart2P-Regular");

body {
  font-family: "Liberation Mono", "Arial";
  font-weight: 400;
  line-height: 1.7;
  color: $black-color;
  box-sizing: border-box;
}
