#Ignore node modules folder
node_modules
#Ignore compiled JavaScript/cpp folder
lib
public
build
dist
out
*.tgz
*.vsix
#Ignore Ide files
.vscode
debug.log
.vs
compilation-stats.json
yarn-error.log
#Ignore text files (used for notes)
*.txt
*.txt.swp
*.notes.swp
#Ignore performance testing file
performance
#Testing Reports
report*
coverage
.nyc_output
nyc
*.lcov
Mac
.DS_Store

#Access token
electron-builder.yml
electron-builder.yaml

#Extension files
extension/README.md
media
