#Ignore node modules folder
node_modules
#Ignore compiled JavaScript/cpp folder
lib
public
build
dist
out
*.tgz
#Ignore Ide files
.vscode
debug.log
.vs
#Ignore text files (used for notes)
*.txt
*.txt.swp
*.notes.swp
#Ignore performance testing file
performance
#Testing Reports
report*
coverage
.nyc_output
nyc
*.lcov
Mac
.DS_Store

#Access token
electron-builder.yml
electron-builder.yaml

