//colours
$black-color: #222222;
$selected-blue: #a3c7ee;

//98.css colours
$surface: #c0c0c0;
$button-highlight: #ffffff;
$button-face: #dfdfdf;
$button-shadow: #808080;
$window-frame: #0a0a0a;
$dialog-blue: #0a246a;
$dialog-blue-light: #a5c9ef;
$dialog-gray: #808080;
$dialog-gray-light: #b5b5b5;
$link-blue: #0000ff;

//98.css boarders
//https://github.com/jdan/98.css
/* Borders */
$border-width: 1px;
$border-raised-outer: inset -1px -1px $window-frame,
  inset 1px 1px $button-highlight;
$border-raised-inner: inset -2px -2px $button-shadow, inset 2px 2px $button-face;
$border-sunken-outer: inset -1px -1px $button-highlight,
  inset 1px 1px $window-frame;
$border-sunken-inner: inset -2px -2px $button-face, inset 2px 2px $button-shadow;

/* Window borders flip button-face and button-highlight */
$border-window-outer: inset -1px -1px $window-frame, inset 1px 1px $button-face;
$border-window-inner: inset -2px -2px $button-shadow,
  inset 2px 2px $button-highlight;

/* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
$border-field: inset -1px -1px $button-highlight, inset 1px 1px $button-shadow,
  inset -2px -2px $button-face, inset 2px 2px $window-frame;

//checkbox
$radio-label-spacing: 6px;
$checkbox-width: 13px;
$checkbox-total-width-precalc: $checkbox-width + $radio-label-spacing;
$checkbox-total-width: calc(#{$checkbox-total-width-precalc});
$checkbox-left: calc(-1 * #{$checkbox-total-width-precalc});
$checkmark-width: 7px;
$checkmark-top: 3px;
$checkmark-left: 3px;

/* Spacing */
$element-spacing: 1.5rem;
$grouped-button-spacing: 4px;
$grouped-element-spacing: 6px;

//LAYOUT
//layout full width
$banner-height: 3rem;
$file-drawer-height: 40vh;

//layout-half-width
$file-drawer-height-half: 50vh;
